*{
    padding: 0;
    margin: 0;
}



.navbar{
 
 display: flex;
 padding-top: 20px;
 justify-content: center;

}

#logo{

    display: flex;
}

.logo1{

    width: 40px;
    height: 40px;
  
}

.logo-h2{

    padding-left: 9px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;

}



#about{

    margin-top: 80px;
    padding: 30px;

}


.title-h1{

   font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 8px;

}

.title-h1-2{

font-size: 4rem;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;


}

.about-paragraph{

    margin-bottom: 40px;
    padding-right: 20px;
    font-family: 'Nunito Sans', sans-serif;
    
}

.homebtn{

    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}




.footer-item2{
  
    display: flex;
 
   }
  
 
    .footer-item{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    padding: 20px;
 
    }
 
    .footer-icon{
 
     width: 30px;
     height: 30px;
     margin-left: 10px;
     margin-right: 10px ;
     margin-bottom: 10px;
    }
 
    .footer-link:hover{
    
     transform: scale(0.8);
     
 
    }
 
 